<div class="container-fluid barra">
    <div class="row">
        <div class="d-flex col-6 justify-content-start align-self-center">
            <app-logo-arg-programa></app-logo-arg-programa>
        </div>
        <div class="d-flex col-6 justify-content-end align-self-center">
            <a href="#" class="rrss discord">
                <app-discord-button class="icon"></app-discord-button>
            </a>
            <a href="#" class="rrss linkedin">
                <app-linkedin-button class="icon"></app-linkedin-button>
            </a>
            <app-button></app-button>
        </div>
    </div>
</div>