<div class="container-fluid banner">
    <div class="row superior"></div>
    <div class="row d-flex foto_de_perfil">
        <div class="col-5"></div>
        <div class="col-2 d-flex justify-content-center foto">
            <app-profile-pic></app-profile-pic>
        </div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-1 col-md-3 col-lg-4"></div>
        <div class="col-10 col-md-6 col-lg-4 informacion">
            <div class="row superior"></div>
            <div class="row">
                <app-name class="mt-2"></app-name>
                <app-profession></app-profession>
                <app-profile class="mt-1"></app-profile>
            </div>
        </div>
        <div class="col-1 col-md-3 col-lg-4"></div>

    </div>
</div>