.banner {
    height: 300px;
    background-image: url(../../../assets/banner.png);
}

.informacion {
    color: white;
    text-align: justify;
    background-color: #3e4144;
    border-radius: 5%;
    box-shadow: 0 0.3rem 15px 0.4rem black;
}

.superior {
    height: 100px;
}

.foto_de_perfil {
    height: 100px;
}

.foto {
    height: 200px;
    z-index: 500;
}