fa-icon {
    font-size: 1.9rem;
    text-align: none;
    display: inline-block;
    margin: 0 0.2rem 0 0.2rem;
}

app-button {
    margin: 0.22rem 0rem 0rem 0.2rem;
}

.header {
    height: 65px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', 'Arial';
}

.profession {
    color: white;
    text-align: center;
    font-family: 'Oswald', 'Arial';
}

.informacion {
    color: white;
    text-align: justify;
}